<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/12d7e68c1e.js" crossorigin="anonymous"></script>
	<title>Control Room - Cost Center</title>
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="menu">Menu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="admin">Admin</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Report
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="reportCostCenter">By Cost Center</a></li>
							<li><a class="dropdown-item" href="orderByDate">By Date</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="reportToday">Today</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Handbuch.pdf">Help</a>
					</li>
				</ul>
				<form class="d-flex" action="order">
					<button class="btn btn-outline-light" type="submit">Order Here!</button>
				</form>
			</div>
		</div>
	</nav>

	<!-- Body of the Website -->

	<!-- Table -->

	<div class="container text-center my-3">
		<header class="bg-dark text-white text-center py-5">
			<h1> Control room</h1>
		</header>
		<hr>
		<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
			<span th:text="${errorMessage}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="card text-center nav  nav-fill">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link " href="admin">À la Carte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="costcenter_admin">Cost Center</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="room_admin">Room</a>

					</li>
				</ul>
			</div>

			<div class="container text-center my-5">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Costcenter ID</th>
							<th scope="col">Cost Center</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item :${costCenter}">
							<td th:text="${item.costcenterid}"></td>
							<td th:text="${item.costcenter}"></td>
							<td th:text="${item.description}"></td>

							<td>
								<a class="btn btn-outline-primary"
									th:href="@{/costCenter/edit/{id} (id=${item.costcenterid})}" role="button">Edit</a>

								<a class="fa-solid fa-trash-can fa-xl offset-md-2" style="color: rgb(230, 40, 51);"
									th:href="@{/costCenter/{id} (id=${item.costcenterid})}" role="button"></a>
							</td>
					</tbody>
				</table>
				<a class=" btn btn-primary" href="createCostCenter" role="button">New</a>
			</div>
		</div>
	</div>
	</div>
	</div>

	</div>
	</div>

</body>

</html>